.team_team {
	display: block;
	color: #161723;
	font-size: 15px;
}

.team_predict {
	display: block;
	color: #161723;
	font-size: 15px;
	text-transform: uppercase;
}

.the_custom_button_style {
	text-align: center;
}

.become_expert {
	text-transform: uppercase !important;
	color: red !important;
}