.team_team {
	display: block;
	color: #161723;
	font-size: 15px;
}

.team_predict {
	display: block;
	color: #161723;
	font-size: 15px;
	text-transform: uppercase;
}

.the_custom_button_style {
	text-align: center;
}

.become_expert {
	text-transform: uppercase !important;
	color: red !important;
}

.input_password {
	margin-top: 25px;
}

.register_page_big_p {
	font-size: 20px;
	text-align: justify;
	margin-bottom: 10px;
}

.register_page_small_p {
	font-size: 18px;
}